[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "~=2.10"
scikit-learn = "~=1.1"
transitions = "~=0.9"
Levenshtein = "~=0.12"

[dev-packages]
ipdb = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.9"
